routes:
  - path: /api/users/{id}
    upstream: http://user-service:8001/users/{id}
    methods: [GET, DELETE, PATCH]
    access: auth
    type: rest
  - path: /api/users
    upstream: http://user-service:8001/users
    methods: [POST]
    access: public
    type: rest
  - path: /api/users
    upstream: http://user-service:8001/users
    methods: [GET]
    access: auth
    type: rest
  - path: /api/users/validate
    upstream: http://user-service:8001/users/validate
    methods: [POST]
    access: public
    type: rest
  - path: /api/users/{id}/lockout
    upstream: http://user-service:8001/users/{id}/lockout
    methods: [POST]
    access: admin
    type: rest
