# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
auth-service

# Output of the go coverage tool, specifically when used with LiteIDE
*.cov

# Dependency directories (remove the comment below if you use Go modules)
/vendor/

# Go workspace file
go.work

# IDE/editor files
.idea/
.vscode/
*.swp

# Build output
auth-service
