name: Build API Gateway Docker Image

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: ./api-gateway/go.mod
          cache-dependency-path: ./api-gateway/go.sum

      - name: Run unit tests
        working-directory: ./api-gateway
        run: go test ./...

      - name: Build the Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./api-gateway
          file: ./api-gateway/Dockerfile
          push: false
          tags: homenavi-api-gateway:latest

      - name: Save Docker image to tarball
        run: docker save homenavi-api-gateway:latest | gzip > homenavi-api-gateway-latest.tar.gz

      - name: Upload Docker image artifact
        uses: actions/upload-artifact@v4
        with:
          name: homenavi-api-gateway-latest
          path: homenavi-api-gateway-latest.tar.gz
